<h1>Search Analytics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Search Query</th>
      <th>Counter</th>
    </tr>
  </thead>
  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.query %></td>
        <td><%= search.counter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
