<div class="card mb-3">
  <div class="card-header">
    <h3 class="card-title"><%= post.title %></h3>
  </div>
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
  </div>
</div>
