h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  margin: 20px auto;
}

th, td {
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
